layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    
    pane split_direction="vertical" {
        ui { name "UI"; args "dev"; }
        server { name "Server"; args "run"; }
    }
    
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
    pane_template name="ui" {
        command "pnpm"
        start_suspended true
    }
    pane_template name="server" {
        command "go"
        start_suspended true
    }
}